@import './theme.less';

body,
html {
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.app-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.app-content {
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.app-link {
		width: 100%;
	}
}

.module-container {
	display: flex;
	align-items: stretch;
	flex-flow: column;
	background: @lightGrayBgColor;
	flex-grow: 1;
}

.ellipsis{
	overflow:hidden;  //隐藏超出部分
	text-overflow:ellipsis; //超出行数以外的字符、用省略号表示
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;  //行数
}

.App_record {
	width: 100%;
};